{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "FileReader": true,
    "Blob": true,
    "document": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-props-no-spreading": 0,
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": "src",
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}